<html>
  <head>
    <title>CrowdTribute</title>

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/carousel.css"/>

    <style>
      .hidden-div {
        display: none;
      }
      .gray-div {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 50px;
        padding: 20px;
      }

      .input-group-addon {
        min-width: 60px;
        text-align: left;
      }
    </style>
  </head>

  <body>

    <!-- ***** HEADER START ***** -->
    <div id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: 'Pacifico', cursive;" href="#">CrowdTribute</a>
          </div>
        </div>
      </nav>

    </div>
    <!-- ***** HEADER END ***** -->

    <!-- ***** CAROUSEL START ***** -->

    <div style="margin-top: 100px"></div>

    <div class="container jumbo-container">
      <div class="jumbotron" style="background-size: cover; background-image: url('https://static.pexels.com/photos/46274/pexels-photo-46274.jpeg')">
        <center>
          <h1 style="font-family: 'Pacifico', cursive;">CrowdTribute</h1>
          <p>Learn. Share. Care.</p>
          <p><a class="btn btn-default btn-lg" href="#about" role="button">Learn more &raquo;</a></p>
        </center>
      </div>
    </div>

    <!-- ***** CAROUSEL END **** -->

    <div id="body" style="margin-bottom: 30px;" class="container marketing">

    </div>

    <script type="text/template" id="add-new-course-template">
        <div class="panel panel-default">
          <div class="panel-heading">
            Add New Course
          </div>
          <div class="panel-body">
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Name</span>
                <input type="text" id="name-field" class="form-control" placeholder="Course Name" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class=="col-lg-8">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Title</span>
                <input type="text" id="title-field" class="form-control" placeholder="Course Title" aria-describedby="basic-addon2">
              </div>  
            </div> 
          </div>
          <div class="panel-footer">
            <button class="btn btn-default media-right" id="save-btn">Add Course</button>
            <span id="success-msg" class="text-success hidden-div" style="float: right; margin-top: 7px">
              <strong>
                  &#10004; &nbsp; Your course was successfully saved! 
              </strong>
            </span>
          </div>
        </div>
      </script>

  
    <script type="text/template" id="course-template">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2><%= name %></h2>
      <p><%= title %></p>
      <p>
        <a class="btn btn-default" href="#courses/<%= safeID() %>" role="button">View</a>
        <a class="btn btn-default edit-btn" role="button">Edit</a>
        <a class="btn btn-default delete-btn" role="button">Delete</a>

        <div class="editable hidden-div">
          <input type="text" class="title-editable" value="<%= title %>">
          <input type="text" class="name-editable" value="<%= name %>"/>
          <button class="update-btn btn btn-default">Save</button>
          <a class="cancel-btn btn btn-default" role="button">Cancel</a>
        </div>
      </p>
    </script>

    <script type="text/template" id="course-material-template">
      <td style="width: 20%;"><%= title %></td>
      <td style="width: 30%;"><%= description %>
      <td>
        <div style="float: right;">
          <div class="btn-group default-shown" role-group="group">
            <button class="edit-btn btn btn-default">Edit</button>
            <button class="delete-btn btn btn-default">Delete</button>
            <a href="<%= file_link %>" target="_blank" class="download-btn btn btn-default">Download</a>
          </div>

          <div class="editable hidden-div">
            <div class="row">
              <div class="col-md-4">
                <input type="text" class="title-editable form-control" value="<%= title %>"/>
              </div>
              <div class="col-md-4">
                <input type="text" class="description-editable form-control" value="<%= description %>">
              </div>
              <button class="update-btn btn btn-default">Save</button>
              <button class="cancel-btn btn btn-default">Cancel</button>
            <div>
          </div>
        </div>
      </td>
    </script>

    <script type="text/template" id="course-material-form-template">
      <form enctype="multipart/form-data" accept-charset="UTF-8" action="http://localhost:3000/courses/<%= safeCourseID() %>/instructors/<%= safeInstructorID() %>/course_materials" method="post" id="course-material-form">
        <div class='panel panel-default'>
          <div class="panel-heading">
            Add New Course Material
          </div>
          <div class="panel-body">
            
          <div class="row">
            <div class="col-lg-5">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Title</span>
                <input class="form-control" type="text" name="course_material[title]" id="course_material_title" placeholder="Course Material Title"/>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Description</span>
                <input class="form-control" type="text" name="course_material[description]" id="course_material_description" placeholder="Course Material Description"/>
              </div>
            </div>
          </div>
          <br/>
          <div class="input-group">
            <label for="course_material_file">File</label>
            <input type="file" name="course_material[file]" id="course_material_file" />
          </div>

          
        
          </div>
          <div class="panel-footer">
            <div class="actions">
              <input class="btn btn-default" id="save-course-material-btn" type="submit" name="commit" value="Create Course material" />
            </div> 
          </div>
          
        </div>
      </form>
      
    </script>




    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore.min.js"></script>
    <script src="lib/backbone.min.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="js/models/course_model.js"></script>
    <script src="js/models/instructor_model.js"></script>
    <script src="js/models/course_material_model.js"></script>


    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script src="js/collections/course_list_collection.js"></script>
    <script src="js/collections/instructor_collection.js"></script>
    <script src="js/collections/course_material_collection.js"></script>

    <script src="js/templates/course_template.js"></script>

    <script src="js/views/course/course_view.js"></script>
    <script src="js/views/course/course_description_view.js"></script>
    <script src="js/views/course/course_page_view.js"></script>
    <script src="js/views/course/course_list_view.js"></script>

    <script src="js/views/instructor/instructor_view.js"></script>
    <script src="js/views/instructor/instructor_description_view.js"></script>
    <script src="js/views/instructor/instructor_list_view.js"></script>
    <script src="js/views/instructor/instructor_page_view.js"></script>

    <script src="js/views/course_material/course_material_view.js"></script>
    <script src="js/views/course_material/course_material_list_view.js"></script>

    <script src="js/views/about/about_view.js"></script>

    <script src="js/app.js"></script>
    <script src="js/routers/router.js"></script>

  </body>
</html>